@CHARSET "ISO-8859-1";
@media screen and (max-width: 767px)
{
	.signinpanel .signin-info{
	   display: none;
	}

	.signuppanel .signup-info {
	   display: none;
	}
}
.leftpanel{
		display: none;
}
.mainpanel{
	margin: 0px;
}
.peoplename{
	font-family: tahoma,arial !important;
}