{% extends "myapp/base.html" %}
{% block header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-edit"></i> <a href="/account-setting">Account Setting</a>
	</h2>
</div>
{% endblock %} 
{% block content %}
<div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-btns">
            <a href="#" class="panel-close">×</a>
            <a href="#" class="minimize">−</a>
          </div>
          <h4 class="panel-title">Account Detail</h4>
          <p>Edit your  account informaion</p>
        </div>
        <div class="panel-body panel-body-nopadding">
          
          <form class="form-horizontal form-bordered">
                        
            <div class="form-group">
				  <label class="col-sm-3 control-label" for="readonlyinput">Username</label>
				  <div class="col-sm-6">
					 <input type="text" value="Read Only Input" id="readonlyinput" class="form-control" readonly="readonly">
				  </div>
				</div>
				
            <div class="form-group">
              <label class="col-sm-3 control-label">Name</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Default Input" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Company</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Default Input" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Address</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Default Input" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">About</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Default Input" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Twitter</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Input link to your Twitter" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Facebook</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Input link to your Facebook" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Youtube</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Input link to your Youtube" class="form-control">
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Linkedin</label>
              <div class="col-sm-6">
                <input type="text" placeholder="Input link to your Linkedin" class="form-control">
              </div>
            </div>

        </div><!-- panel-body -->
        
        <div class="panel-footer">
			 <div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				  <button class="btn btn-primary">Submit</button>&nbsp;
				  <button class="btn btn-default">Cancel</button>
				</div>
			 </div>
		  </div><!-- panel-footer -->
        
      </div>
{% endblock %}

{% block scripts %}
<script src="js/custom.js"></script>
{% endblock %}
