<!-- Modal -->
<div class="modal fade" id="add-new-course" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Create Course</h4>
			</div>

			<div class="panel panel-default">
				<div class="panel-body panel-body-nopadding">

					<!-- BASIC WIZARD -->
					<div id="courseWizard" class="basic-wizard">

						<ul class="nav nav-pills nav-justified nav-disabled-click">
							<li class="active"><a href="#vtab1" data-toggle="tab"><span>Step
										1:</span> Create course</a></li>
							<li><a href="#vtab2" data-toggle="tab"><span>Step
										2:</span> Add material </a></li>
							<li><a href="#vtab3" data-toggle="tab"><span>Step
										3:</span> Action to do</a></li>
						</ul>

						<form class="form" id="firstForm" novalidate="novalidate" method="post" action="/add-course">
						
							{% csrf_token %} 
							<div class="tab-content">
								<div class="progress progress-striped active">
									<div class="progress-bar" role="progressbar" aria-valuenow="45"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<div class="tab-pane active" id="vtab1">
									<div class="form-group">
										<div class="col-sm">
											<input type="text" name="course_name" class="form-control"
											 placeholder="Course name">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-6">
											<input type="text" id="duration" name="duration" class="form-control"
												 placeholder="Duration" maxlength="2">

										</div>
										<div class="col-sm-6">
											<select class="form-control" name="duration_type">
												<option value="Week">Week</option>
												<option value="Month">Month</option>
												<option value="Year">Year</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-6">
											<span id="parentId" hidden="false"></span>
											<select id="listCategories" hidden="false">
												{% if listCategory %}
													{% for category in listCategory %}
														{% if  category.isparent == '0' %}
															<option isparent="{{ category.id}}" anc="{{category.parentCategory.id}}" value="{{ category.id }}">{{category.categoryName}}</option>
														{% endif %}
													{% endfor %}
												{% endif %}
											</select>
											<select onChange="delivery(this)" name="parentCategory" id="ddlViewBy" class="form-control" >
												{% if listCategory %}
													{% for category in listCategory %}
														{% if  category.isparent == '1' %}
															{% if  parentCategory and category.id|truncatechars:100 == parentCategory %}
																<option value="{{ category.id }}" selected>{{category.categoryName}}</option>
															{% else %}
																<option value="{{ category.id }}">{{category.categoryName}}</option>
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
											</select>
										</div>
										<div class="col-sm-6">
											<select name="childrenCategory" id="childrenCategory" title="Please select once " class="form-control" >
												{% if listCategory %}
													{% for category in listCategory %}
														{% if  category.isparent == '0' and parentCategory and category.parentCategory.id|truncatechars:100 == parentCategory %}
															{% if  childrenCategory and category.id|truncatechars:100 == childrenCategory %}
																<option value="{{ category.id }}" selected>{{category.categoryName}}</option>
															{% else %}
																<option value="{{ category.id }}">{{category.categoryName}}</option>
															{% endif %}
														{% endif %}
													{% endfor %}
												{% endif %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" name="start_date" class="form-control"
													 placeholder="Start date" id="startdate">
												<span class="input-group-addon"><i
													class="fa fa-calendar"></i></span>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="input-group">
												<input type="text" name="end_date" class="form-control"
													placeholder="End date" id="enddate"> <span
													class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm">
										<textarea name="curriculumn_description" class="form-control"
											 placeholder="description" rows="5"> </textarea>
										</div>
									</div>
								</div>
								<div class="tab-pane mainpanel " id="vtab2">
									<div class="row">
										<div class="col-sm-3" style="margin-top: 1px;">
											<div class="panel panel-default">
												<div class="panel-heading" style="height: 402px !important;" >
													<div class="col-sm-9" style="margin-bottom: 10px;">
														<span>List materials</span>
														<input type="" id="numberMaterial"  value="0" hidden="false">
														<input type="" id="currentNumberMaterial"  value="0" hidden="false">
													</div>
													<div class="col-sm-9" id="listMaterial">
														
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<button class="btn btn-primary" id="saveMaterial" style="margin-top: 10px;display: none;" onclick="saveMaterial();">Save all material</button>
														</div>
													</div>
												</div>
											</div><!-- panel-default -->
										</div><!-- col-md-3 -->
										<div class="col-sm-9" style="margin-top: 1px;">
											<div class="panel panel-default">
												<div class="panel-heading">
													<div class="form-group">
														<div class="col-sm-12">
															<input id="material_title" type="text" name="material_title"
																class="form-control" required=""
																placeholder="Material title">
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-8">
																<select id="material_type" name="material_type" class="form-control"
																	required="">
																	<option value="-1">Choose type</option>
																	<option value="Book" selected>Book</option>
																	<option value="Video">Video</option>
																	<option value="Document">Document</option>
																</select>
														</div>
														<div class="col-sm-4" style="margin-top: 8px;">
															<span>(Ex: Book,Video,Doccument,Doc,...)</span>
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<input type="text" id="material_url" name="material_url" class="form-control"
																required="" placeholder="Material url">
														</div>
														<!-- <div class="col-sm-6">
															<input type="text" name="material_code" class="form-control"
																required="" placeholder="Material code">
														</div> -->
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<textarea id="material_description" name="material_description" class="form-control"
																required="" placeholder="description" rows='3'> </textarea>
														</div>
													</div>
													<div class="form-group">
														<div class="col-sm-12">
															<ul class="pager" style="border-top: none !important;background: white !important;padding: 0px !important;">
																<li style="float: left; display: none;" id="showCreate"><a href="#" id="createMaterial" onclick="createMaterial();">Create new  material</a></li>
																<li style="float: right;"><a href="#" id="addMaterial" onclick="addMaterial();">Add material</a></li>
															</ul>
														</div>
													</div>
													
												</div>
											</div><!-- panel-default -->
										</div><!-- col-md-9 -->
									</div>
								</div>
								<div class="tab-pane" id="vtab3">
									<div class="form-group">
											<div class="col-sm">
												<input type="text" name="action_name" class="form-control"
													required="" placeholder="Action name">
											</div>
										</div>
									<div class="form-group">
											<div class="col-sm">
												<textarea name="action_description" class="form-control"
													required="" placeholder="Action description"> </textarea>
											</div>
										</div>
								</div>


							</div>
							<!-- tab-content -->
						</form>

						<ul class="pager wizard">
							<li class="previous disabled"><a href="javascript:void(0)">Previous</a></li>
							<li class="next"><a href="javascript:void(0)">Next</a></li>
							<li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
						</ul>

					</div>
					<!-- #validationWizard -->

				</div>
				<!-- panel-body -->
			</div>

		</div>
		<!-- modal-content -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- modal -->
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/bootstrap-wizard.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>

<script>
	function delivery(x){
		
		var country = x.value;
		document.getElementById('parentId').innerHTML = country;
		select = document.getElementById('childrenCategory');
		for(var i=select.options.length-1;i>=0;i--)
		{
			select.remove(i);
		}
		//remove  option
		
		var ex = document.getElementById("listCategories").options;
		//window.alert(ex.length)
		for(var i=0;i<ex.length;i++)
		{
			if(ex[i].getAttribute('anc')==country)
			{
				//window.alert(ex[i].text)
				var opt = document.createElement('option');
				opt.value = ex[i].value;
				opt.innerHTML = ex[i].text;
				select.appendChild(opt);
			}
		}
	}
	function saveMaterial()
	{
		alert('save');
	}
	function createMaterial()
	{
		document.getElementById('material_title').value="";
		document.getElementById('material_type').value="Book";
		document.getElementById('material_url').value="";
		document.getElementById('material_description').value="";
		
		document.getElementById('showCreate').style.display="none";
		document.getElementById('addMaterial').innerHTML="Add material";
	}
	function addMaterial()
	{
		var material_title=document.getElementById("material_title").value.toString();
		var material_url =document.getElementById("material_url").value.toString();
		var material_description=document.getElementById("material_description").value.toString();
		var numberMaterial=parseInt(document.getElementById("numberMaterial").value);
		
		if(material_title.trim()==""||material_url.trim()==""||material_description.trim()=="")
		{
			document.getElementById("saveMaterial").style.display="none";
		}
		else
		{
			if(document.getElementById('addMaterial').innerHTML=="Save change")
			{
				if(document.getElementById('currentNumberMaterial').value !="0")
				{
					index=document.getElementById('currentNumberMaterial').value;
					//set value current material selected
					document.getElementById('material_title'+index.toString()).value=document.getElementById('material_title').value;
					document.getElementById('material_type'+index.toString()).value=document.getElementById('material_type').value;
					document.getElementById('material_url'+index.toString()).value=document.getElementById('material_url').value;
					document.getElementById('material_description'+index.toString()).value=document.getElementById('material_description').value;
					
					//clear  material input
					document.getElementById('material_title').value="";
					document.getElementById('material_type').value="Book";
					document.getElementById('material_url').value="";
					document.getElementById('material_description').value="";
					//
					document.getElementById('addMaterial').innerHTML="Add material";
					document.getElementById('showCreate').style.display="none";
				}
			}
			else
			{
				//alert('no empty');
				document.getElementById("saveMaterial").style.display="inline";
				numberMaterial +=1;
				document.getElementById("numberMaterial").value=numberMaterial.toString();
				//alert(document.getElementById("numberMaterial").value);
				
				var div = document.createElement("div");
				div.className ="rdio rdio-primary";
				div.id ="material"+numberMaterial.toString();
				//Assign different attributes to the element
				var radio = document.createElement("input");
				//Assign different attributes to the element
				radio.setAttribute("type", "radio");
				radio.setAttribute("id",numberMaterial.toString());
				radio.setAttribute("name", "gender");
				radio.setAttribute("value",numberMaterial.toString());
				
				lb = document.createElement("label");
				lb.setAttribute("for",numberMaterial.toString());
				lb.innerHTML ="Material " + numberMaterial.toString();
				//label.htmlFor = numberMaterial.toString();
				
				
				
				var  material_title= document.createElement("input");
				material_title.setAttribute("type", "text");
				material_title.setAttribute("hidden", "false");
				material_title.setAttribute("id", "material_title"+numberMaterial.toString());
				material_title.setAttribute("name","material_title"+numberMaterial.toString());
				material_title.setAttribute("value",document.getElementById('material_title').value);
				
				var  material_type= document.createElement("input");
				material_type.setAttribute("type", "text");
				material_type.setAttribute("hidden", "false");
				material_type.setAttribute("id", "material_type"+numberMaterial.toString());
				material_type.setAttribute("name","material_type"+numberMaterial.toString());
				material_type.setAttribute("value",document.getElementById('material_type').value);
				
				var  material_url= document.createElement("input");
				material_url.setAttribute("type", "text");
				material_url.setAttribute("hidden", "false");
				material_url.setAttribute("id", "material_url"+numberMaterial.toString());
				material_url.setAttribute("name","material_url"+numberMaterial.toString());
				material_url.setAttribute("value",document.getElementById('material_url').value);
				
				var  material_description= document.createElement("input");
				material_description.setAttribute("type", "text");
				material_description.setAttribute("hidden", "false");
				material_description.setAttribute("id", "material_description"+numberMaterial.toString());
				material_description.setAttribute("name","material_description"+numberMaterial.toString());
				material_description.setAttribute("value",document.getElementById('material_description').value);
				
				
				div.appendChild(radio);
				div.appendChild(lb);
				
				div.appendChild(material_title);
				div.appendChild(material_type);
				div.appendChild(material_url);
				div.appendChild(material_description);
				
				var container = document.getElementById('listMaterial');
				container.appendChild(div);
				//event
				radio.onclick = function()
				{
					
					document.getElementById('addMaterial').innerHTML="Save change";
					document.getElementById('showCreate').style.display="inline";
					IdDivSelected=div.getAttribute("id");
					var index = IdDivSelected[IdDivSelected.length-1];
					//curentMaterial selected
					document.getElementById('currentNumberMaterial').value=index.toString();
					//set material input
					document.getElementById('material_title').value=document.getElementById('material_title'+index.toString()).value;
					document.getElementById('material_type').value=document.getElementById('material_type'+index.toString()).value;
					document.getElementById('material_url').value=document.getElementById('material_url'+index.toString()).value;
					document.getElementById('material_description').value=document.getElementById('material_description'+index.toString()).value;
				};
				//clear  material input
				document.getElementById('material_title').value="";
				document.getElementById('material_type').value="Book";
				document.getElementById('material_url').value="";
				document.getElementById('material_description').value="";
			}
		}
	}
</script>