{% extends "myapp/base.html" %} {%block content %}
<div class="row" id="ex3" style="height:450px;width:1000px;margin-left:12%;overflow-y:scroll;background-color:lightgray;">
	<div class="col-md-11" style="height: 460px;margin-top: 20px;margin-left: 30px;">
		<p>
			<a href="/t/community_guidelines">Nguyên tắc cộng đồng</a>
		</p>
		<h2>Do you want to become mentor ?</h2>
	</div>
</div>
<div class="row" style="margin-top: 30px;width:1000px;margin-left: 12%">
	<div class="col-md-11" style="float: right;">
		<form class="" action="become-mentor" method="post">
			{% csrf_token %}
			<button class="btn btn-primary" style="float: right;">Agree</button>
		</form>
		<button type="reset" class="btn btn-default" style="float: right;margin-right: 8px;">Cancel</button>
	</div>
</div>
{% endblock content%}
