<div id='wrap'>

<div id='external-events' style="width: 20%;">
<h4>カリキュラム入社</h4>
{% if lisCurriculumns %}
	{% for curriculumn in lisCurriculumns %}
		{% if username in curriculumn.joined_user %}
			<div class='external-event'>{{ curriculumn.name }}</div>
		{% endif %}
	{% endfor %}
{% endif %}
<!-- <button class="btn btn-primary btn-xs" onclick="submitdata();" style="float: right;margin-bottom: 10px;">Save</button>-->
<!-- <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label> -->
</p>
</div>


<div id='calendar'></div>
	<form action="" name = "frmCalendar" id="frmCalendar" method="POST" action="/studylog"> 
		{% csrf_token %} 
		<input type="hidden" name="user_id" value="{{ user_id }}"/>
		<input type="hidden" name="datacontent" id="datacontent"/>
	</form>
<div style='clear:both'></div>
</div>