{% extends "myapp/base.html" %} 
{% block header %}
{% endblock %}
{% block content %}
<!-- Start content panel -->
{% include 'myapp/pnl_course.html' %}
<!-- contentpanel -->
{% endblock %} 
{% block scripts %}

<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/jquery.validate.min.js"></script>

<script src="js/masonry.pkgd.min.js"></script>
<script src="js/custom.js"></script>
<script>
jQuery(window).load(function(){
  
    var container = document.querySelector('#bloglist');
    var msnry = new Masonry( container, {
      // options
      columnWidth: '.col-xs-6',
      itemSelector: '.col-xs-6'
    });
    
    // check on load
    if(jQuery(window).width() <= 480 )
        msnry.destroy();

    // check on resize
    jQuery(window).resize(function(){
        if(jQuery(this).width() <= 480 )
            msnry.destroy();
	});
	// Date Picker
	jQuery('#planstart').datepicker({});
	jQuery('#planend').datepicker({});	
});

	function onValidateSubmit()
	{
		var $valid = jQuery('#formjoincourse').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#formjoincourse').submit();
	};

</script>
{% endblock %}
