<div class="contentpanel">
	<div class="people-list">
		<div class="row">
			{% for cl in cl %}
			<div class="col-md-6">
				<div class="people-item">
					<div class="col-sm">
						<div class="row">
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-primary"
									data-toggle="modal" data-target="#createesay">Join</button>
							</div>
							<h4 class="person-name">{{ cl.name }}</h4>
							<ul class="blog-meta">
								<li>Course Start: {{ cl.from_date }}</li>
								<li>Duration: {{ cl.duration }} - {{ cl.duration_type }}</li>
							</ul>
						</div>

						<div class="progress">
							<div id="53744a43bf063e0e14972e57"
								class="progress-bar progress-bar-success" role="progressbar"
								aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
								style="width: 80%">
								<span class="sr-only">80% Complete</span>
							</div>
						</div>
						<div class="media-body">
							<ul class="social-list">
								<div class="panel-body">
								{% if cl.material|length > 0  %}
								<div class="table-responsive">
									<table class="table table-bordered mb30">
										<tr>
										<th>Name</th>
										<th>Description</th>
										<th>Unit name</th>
										</tr>
										<tbody>
										{% for mt in cl.material %}
										<tr>
											<td>{{ mt.name|truncatechars:100 }}</td>
											<td>{{ mt.description|truncatechars:100 }}</td>
											<td>{{ mt.unit.name }}</td>
										</tbody>
										{% endfor %}
									</table>
								</div>
								{% endif %}

								{% if cl.action|length > 0  %}
								<div class="table-responsive">
									<table class="table table-bordered mb30">
										<tr>
										<th>Action to do</th>
										<th>Description</th>
										<th>Unit name</th>
										</tr>
										<tbody>
										{% for ac in cl.action %}
										<tr>
											<td>{{ ac.name|truncatechars:100 }}</td>
											<td>{{ ac.description|truncatechars:100 }}</td>
											<td>abc</td>
										</tbody>
										{% endfor %}
									</table>
								</div>
								{% endif %}
								
									<div class="tinystat mr20">
										<div id="sparkline" class="chart mt5">
											<img alt="" src="images/chart10.jpg"
												class="thumbnail media-object"
												style="width: 60px; height: 60px;">
										</div>
										<div class="datainfo">
											<span class="text-muted">Total Sales</span>
											<h4>$201</h4>
										</div>
									</div>
									<!-- tinystat -->

									<div class="tinystat mr20">
										<div id="sparkline2" class="chart mt5">
											<img alt="" src="images/chart09.jpg"
												class="thumbnail media-object"
												style="width: 60px; height: 60px;">
										</div>
										<div class="datainfo">
											<span class="text-muted">Avg Sales</span>
											<h4>$16,850</h4>
										</div>
									</div>
									<!-- tinystat -->

									<div class="tinystat mr20">
										<div id="sparkline3" class="chart mt5">
											<img alt="" src="images/chart07.jpg"
												class="thumbnail media-object"
												style="width: 60px; height: 60px;">
										</div>
										<div class="datainfo">
											<span class="text-muted">Avg Order</span>
											<h4>23,001,090</h4>
										</div>
									</div>
									<!-- tinystat -->

								</div>

							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End block -->
			{% endfor %}
			<!-- End for -->
		</div>
		<!-- row -->
	</div>
	<!-- people-list -->

</div>

<div class="dropdown-menu">
	<h5 class="title">You Have 1 New Message</h5>
	<ul class="dropdown-list gen-list">
		<li class="new"><a href="#"> <span class="thumb"><img
					src="images/photos/user1.png" alt=""></span> <span class="desc">
					<span class="name">Draniem Daamul <span
						class="badge badge-success">new</span></span> <span class="msg">Lorem
						ipsum dolor sit amet...</span>
			</span>
		</a></li>
		<li><a href="#"> <span class="thumb"><img
					src="images/photos/user2.png" alt=""></span> <span class="desc">
					<span class="name">Nusja Nawancali</span> <span class="msg">Lorem
						ipsum dolor sit amet...</span>
			</span>
		</a></li>
		<li><a href="#"> <span class="thumb"><img
					src="images/photos/user3.png" alt=""></span> <span class="desc">
					<span class="name">Weno Carasbong</span> <span class="msg">Lorem
						ipsum dolor sit amet...</span>
			</span>
		</a></li>
		<li><a href="#"> <span class="thumb"><img
					src="images/photos/user4.png" alt=""></span> <span class="desc">
					<span class="name">Zaham Sindilmaca</span> <span class="msg">Lorem
						ipsum dolor sit amet...</span>
			</span>
		</a></li>
		<li><a href="#"> <span class="thumb"><img
					src="images/photos/user5.png" alt=""></span> <span class="desc">
					<span class="name">Veno Leongal</span> <span class="msg">Lorem
						ipsum dolor sit amet...</span>
			</span>
		</a></li>
		<li class="new"><a href="#">Read All Messages</a></li>
	</ul>
</div>