{% include 'myapp/commentOnAction.html' %}
{% include 'myapp/commentOnCourse.html' %}
{% if user.id|truncatechars:100 == user_id %}
	{% include 'myapp/add-material.html' %}
	{% include 'myapp/edit-material.html' %}
	{% include 'myapp/add-action.html' %}
{% endif %}

{% if has_curriculum %}
<div id="bloglist" class="row">
	{% for cl in cl %}
	<!-- Start block -->
	<div class="col-xs-6 col-sm-6 col-md-6">
		<div class="people-item">
			<div class="col-sm">
				
				<div class="row">
					{% if user.id|truncatechars:100 != user_id %}
						{% if cl.joined_user|length > 0 %}
							{% if username in cl.joined_user %}
								<div class="btn-group pull-right">
									<a href="course-detail?course_id={{ cl.id }}&user_id={{cl.mentor.user.id}}"><button type="button" class="btn btn-default">Joined</button></a>
								</div>
							{% endif %}
						{% else %}
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#joincourse" onclick="onJoinCourse('{{cl.id}}');">Join</button>
							</div>
						{% endif %}
	 				{% endif %}
					<a href="course-detail?course_id={{ cl.id }}&user_id={{cl.mentor.user.id}}"><h4 class="person-name">{{ cl.name }}</h4></a>
					<ul class="blog-meta">
						<li>Course Start: {{ cl.from_date|date:'Y-M-d' }}</li>
						<li>Duration: {{ cl.duration }} - {{ cl.duration_type }}</li>
					</ul>
				</div>
				
				<div id="slider-success"
					class="slider-success mb20 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
					aria-disabled="false">
					<div
						class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
						style="width: 60%;"></div>
					<a class="ui-slider-handle ui-state-default ui-corner-all"
						href="#" style="left: 60%;"></a>
				</div>
				<div class="media-body">
					<ul class="social-list">
						<div >
						{% if cl.material|length > 0  %}
							{% if user.id|truncatechars:100 == user_id %}
							<div class="btn-group  pull-left">
								<button type="button" class="btn btn-sm btn-white"
									data-toggle="modal" data-target="#add-material" onclick="onShowFormMaterial('{{cl.id}}');">Add Material</button>
							</div>
							{% endif%}
						<div class="table-responsive">
							<table class="table table-hover table-bordered mb30">
								<tr>
								<th style="width: 40%;text-align: center; background-color: #1CAF9A; color: #fff">Name</th>
								<th style="width: ; text-align: center; background-color: #1CAF9A; color: #fff">Description</th>
								{% if  cl.mentor.user|truncatechars:100 == username|truncatechars:100 %}
									<th style="width: 10%; text-align: center; background-color: #1CAF9A; color: #fff"></th>
								{% endif %}
								</tr>
								<tbody>
								{% for mt in cl.material %}
								<tr style="cursor: hand;" > 
									<td onclick="document.location = 'course-detail?course_id={{ cl.id }}&user_id={{cl.mentor.user.id}}';" >{{ mt.name|truncatechars:100 }}</td>
									<td onclick="document.location = 'course-detail?course_id={{ cl.id }}&user_id={{cl.mentor.user.id}}';" >{{ mt.description|truncatechars:100 }}</td>
									{% if  cl.mentor.user|truncatechars:100 == username|truncatechars:100 %}
										<td class="table-action">
											<button class="btn btn-default btn-xs" data-toggle="modal" data-target="#edit-material" onclick="onEditFormMaterial('{{cl.id}}','{{ mt.id }}','{{ mt.name }}','{{ mt.url }}','{{ mt.description }}','{{ mt.type.name }}');">
												<i class="fa fa-pencil" style="padding-left: 5px;"></i>
											</button>
										</td>
									{% endif %}
									
								</tr>
								</tbody>
								
								{% endfor %}
							</table>
						</div>
						{% endif %}

						{% if cl.action|length > 0  %}
							{% if user.id|truncatechars:100 == user_id %}
								<div class="btn-group  pull-left">
									<button type="button" class="btn btn-sm btn-white"
										data-toggle="modal" data-target="#add-action" onclick="onShowFormAction('{{cl.id}}');">Add Action</button>
								</div>
							{% endif%}
						<div class="table-responsive">
							<table class="table table-hover table-bordered mb30">
								<tr >
								<th style="width: 40%; text-align: center; background-color: #1CAF9A; color: #fff">Action to do</th>
								<th style="width: 60%; text-align: center; background-color: #1CAF9A; color: #fff">Description</th>
								</tr>
								<tbody>
								{% for ac in cl.action %}
								<tr onclick="document.location = 'course-detail?course_id={{ cl.id }}';" style="cursor: hand;">
									<td>{{ ac.name|truncatechars:100 }}</td>
									<td>{{ ac.description|truncatechars:100 }}</td>
											
											</tbody>
								{% endfor %}
							</table>
						</div>
						{% endif %}
						
							<div class="table-responsive" style="text-align: center;">
							<div class="tinystat mr20">
								<div id="sparkline2" class="chart mt5">
									<img alt="" src="images/chart09.jpg"
										class="thumbnail media-object"
										style="width: 60px; height: 60px;">
								</div>
								<div class="datainfo">
									<span class="text-muted">Taken</span>
									<h4>{{ cl.statistic.currentTakenNumber}}</h4>
								</div>
							</div>
							<!-- tinystat -->

							<div class="tinystat mr20">
								<div id="sparkline3" class="chart mt5">
									<img alt="" src="images/chart07.jpg"
										class="thumbnail media-object"
										style="width: 60px; height: 60px;">
								</div>
								<div class="datainfo">
									<span class="text-muted">Like</span>
									<h4>{{ cl.statistic.currentLikeNumber}}</h4>
								</div>
							</div>
							<!-- tinystat -->
							</div>
						</div>

					</ul>
				</div>
			</div>
		</div>
	</div> <!-- end of col-sm-6 -->
	<!-- End block -->
	{% endfor %}
	<!-- End for -->
</div>
<!-- row -->
{% else %} <!-- No curriculumn data  -->
 <div class="row">
 <p> No data to show
 </div>
{% endif %}