{% extends "myapp/base.html" %}
{% block header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> <a href="index">Home</a>
	</h2>
</div>
{% endblock %} 
{% block content %}
<div class="contentpanel" style="margin-left: auto;margin-right: auto;">
				<!-- panel -->
				<div class="col-md-10">
				<form method="post">
					{% csrf_token %} <input type="hidden" name="hd_post_id"
						value="{{ post.id }}">
						<label class="control-label">Select your post type:</label>
						<div class="row mb10">
							<div class="col-sm-3" style="width: 40%; float: left;">
								<select class="form-control chosen-select" name="slPostType">
									<option value="0" selected>As Lecture</option>
									<option value="1">As Post</option>
								</select>
							</div>
						</div>
						<div >
							<input name="txtTitle" type="text" class="form-control"
								placeholder="Title" value="{{Title}}" />
						</div>
						<div >
							<input name="txtImagelink" type="text" class="form-control"
								placeholder="ImageURL" value="{{Imagelink}}" />
						</div>
						<div >
							<input name="txtAmazonlink" type="text" class="form-control"
								placeholder="AmazonURL" value="{{Amazonlink}}" />
						</div>
						<textarea name="txtContent" placeholder="Content" rows="3"
						class="form-control"></textarea>
					<div class="mb10"></div>
					<button class="btn btn-primary">Save</button>
					<button class="btn btn-primary">Cancel</button>
				</form>
				<!-- col-sm-8 -->
				</div>
			</div>
			<!-- row -->

		</div>
		<!-- contentpanel -->
{% endblock %}

{% block scripts %}
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/custom.js"></script>
{% endblock %}
