{% extends "myapp/base.html" %} 

{%block content %}

<div class="row" style="margin-bottom: 1%;">
	<div id="mainMenuBar" class="btn-group"
		style="width: 100%; text-align: center; margin-bottom: 0px; margin-left: 10%; margin-top: 1%">
		<button type="button" class="btn btn-default"
			onclick="window.location.href='/personalhome'" style="width: 20%;">Home</button>
		<button type="button" class="btn btn-primary"
			onclick="window.location.href='/mentorview'" style="width: 20%;">As
			Mentor</button>
		<button type="button" class="btn btn-default"
			onclick="window.location.href='/studentview'" style="width: 20%;">As
			Student</button>
		<button type="button" class="btn btn-default"
			onclick="window.location.href='/profile'" style="width: 20%;">Profile</button>
	</div>
</div>
<div class="tab-content mb30">
	<!-- Tab home display all post that exists in DB -->
	<div class="tab-pane active" id="home"
		style="background-color: #d8dbde;">
		<!-- start tab home -->
		{% include 'myapp/asmentor.html' %}
	</div>
	<!-- end of tab home -->
	<div class="tab-pane " id="News" style="background-color: #d8dbde;">
		<!-- start tab home -->
	</div>
	<!-- end of content panel -->
</div>
<!-- end of tab home -->
<div class="tab-pane " id="Lectures" style="background-color: #d8dbde;">
</div>
<!-- end of tab Events -->
</div>
{% endblock content%} 
{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.sparkline.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.cookies.js"></script>

<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/custom.js"></script>

<script>
  jQuery(window).load(function(){
    // Show aciton upon row hover
    jQuery('.table-hidaction tbody tr').hover(function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 1});
    },function(){
      jQuery(this).find('.table-action-hide a').animate({opacity: 0});
    });
    // Chosen Select
        jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
  	// Date Picker
        jQuery('#datepicker').datepicker();
	});	
</script>
{% endblock scripts%}
