<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="people-item">
		<div>
			<div class="media">
				<div class="media-body" style="text-align: justify;">
					<h4>
						<a href="post-detail?post_id={{mt.id}}">{{mt.name}}</a>
					</h4>
					<p>{{ mt.description }}</p>
				</div>
			</div>
			<div class="timeline-btns">
				<div class="pull-left">
					<a href="#" data-toggle="modal" data-target="#rating"
						class="tooltips" title="" data-original-title="Like"><i
						class="glyphicon glyphicon-heart"></i></a> <a href="#"
						class="tooltips" data-toggle="modal"
						data-target="#commentOnLecture" title=""
						data-original-title="Add Comment"><i
						class="glyphicon glyphicon-comment"></i></a>
				</div>
				<div class="pull-right">
					<small class="text-muted">1 people like this</small>
				</div>
			</div>
		</div>
		<!-- panel-body -->
				<!-- for comments from here -->
				{% for cmt in mt.comment %}
				{% if cmt.user.id == cl.mentor.user.id %}
				<div class="alert alert-success"
					style="margin-left: 5%; margin-right: 30%;">
					<div class="media" style="padding-bottom: 0px;">
						<a href="#" class="pull-left"> <img alt=""
							src="images/photos/user3.png" class="media-object"
							style="width: 32px;height: 32px;"></a>
						<h4>
							<a href="profile?user_id={{ cmt.user_id }}">{{cmt.user.username}}</a>
							- Since:{{cmt.create_date|date:'Y-M-d'}}
						</h4>
						<div class="media-body">
							<span>{{cmt.content}}</span>
						</div>
					</div>
				</div>
				{% else %}
				<div class="alert alert-danger"
					style="margin-left: 30%; margin-right: 5%;">
					<div class="media" style="padding-bottom: 0px;">
						<a href="#" class="pull-right"> <img alt=""
							src="images/photos/user3.png" class="media-object"
							style="width: 32px;height: 32px;"></a>
						<h4>
							<a href="profile?user_id={{ cmt.user_id }}">{{cmt.user.username}}</a>
							- {{cmt.create_date|date:'Y-M-d'}}
						</h4>
						<div class="media-body ">
							<span>{{cmt.content}}</span>
						</div>
					</div>
				</div>
				{% endif %} 
				
				{% endfor %}
				<!-- end for comment -->
		<form method="post" name="formCmtMaterial">
			{% csrf_token %} 
			<input type="hidden" name="hd_material_id" value="{{ mt.id }}"> 
			<input type="hidden" name="hd_course_id" value="{{ course_id }}">
			<input type="hidden" name="posttype" value="1">
			<div class="panel-footer">
				<div class="media">
					<a href="#" class="pull-left"> <img alt=""
						src="images/photos/user3.png" class="media-object"
						style="width: 32px; height: 32px;">
					</a>
					<div class="media-body">
						<input id="txtComment" type="text" name="txtComment"
							class="form-control" placeholder="Leave your comment for current material"
							onkeydown="if (event.keyCode == 13) commentMaterial('{{course_id}}','{{mt.id}}');" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
function commentMaterial(hd_course_id,hd_material_id) {
	document.forms["formCmtMaterial"].hd_course_id.value = hd_course_id
	document.forms["formCmtMaterial"].hd_material_id.value = hd_material_id;
};
</script>