<div class="col-xs-6 col-sm-6 col-md-6">
	<div class="people-item">
		<div>
			<div class="media">
				<div class="media-body" style="text-align: justify;">
					<h4>
						<a href="post-detail?post_id={{mt.id}}">{{mt.name}}</a>
					</h4>
					<p>{{ mt.description }}</p>
				</div>
			</div>
			<div class="timeline-btns">
				<div class="pull-left">
					<!-- Start block -->
						<!-- <form name="formLikeMaterial" method="post" onsubmit="return false;">
						{% csrf_token %}
							<a href="#" id="like" onclick="MyFunction('{{ mt.id }}');" data-toggle="modal" data-target="#rating"
								class="tooltips" title="" data-original-title="Like"><i
							id="icon{{mt.id}}"	class="glyphicon glyphicon-heart-empty"></i></a>
							<input type="hidden" name="posttype" value="likeMaterial">
						</form> -->
					<!-- End of block -->
						<form name="formLikeMaterial" method="post">
						{% csrf_token %}
							<a href="#" id="like" onclick="MyFunction('{{ mt.id }}');" data-toggle="modal" data-target="#rating"
								class="tooltips" title="" data-original-title="Like"><i
							id="icon{{mt.id}}"	class="glyphicon glyphicon-heart-empty"></i></a>
							<input type="hidden" name="posttype" value="likeMaterial">
						</form>
				</div>
				<div class="pull-right">
					<!-- <span id="numberLike{{mt.id}}" class="text-muted">{{ course_id }}</span>
					<span id="numberLike{{mt.id}}" class="text-muted">{{ mt.id }}</span> -->
					<span id="numberLike{{mt.id}}" class="text-muted">1 people like this</span>
					<input type="text" value="1" id="hiddenNumberLike{{mt.id}}" class="text-muted" hidden="false">
					<input type="text" value="0" id="hiddenOnlyClick{{mt.id}}" class="text-muted" hidden="false">
				</div>
			</div>
		</div>
		<!-- panel-body -->
				<!-- for comments from here -->
				{% for cmt in mt.comment %}
				{% if cmt.user.id == cl.mentor.user.id %}
				<div class="alert alert-success"
					style="margin-left: 5%; margin-right: 30%;">
					<div class="media" style="padding-bottom: 0px;">
						<a href="#" class="pull-left"> <img alt=""
							src="images/photos/user3.png" class="media-object"
							style="width: 32px;height: 32px;"></a>
						<h4>
							<a href="profile?user_id={{ cmt.user_id }}">{{cmt.user.username}}</a>
							- Since:{{cmt.create_date|date:'Y-M-d'}}
						</h4>
						<div class="media-body">
							<span>{{cmt.content}}</span>
						</div>
					</div>
				</div>
				{% else %}
				<div class="alert alert-danger"
					style="margin-left: 30%; margin-right: 5%;">
					<div class="media" style="padding-bottom: 0px;">
						<a href="#" class="pull-right"> <img alt=""
							src="images/photos/user3.png" class="media-object"
							style="width: 32px;height: 32px;"></a>
						<h4>
							<a href="profile?user_id={{ cmt.user_id }}">{{cmt.user.username}}</a>
							- {{cmt.create_date|date:'Y-M-d'}}
						</h4>
						<div class="media-body ">
							<span>{{cmt.content}}</span>
						</div>
					</div>
				</div>
				{% endif %} 
				
				{% endfor %}
				<!-- end for comment -->
		<form method="post" name="formCmtMaterial">
			{% csrf_token %} 
			<input type="hidden" name="hd_material_id" value="{{ mt.id }}"> 
			<input type="hidden" name="hd_course_id" value="{{ course_id }}">
			<input type="hidden" name="posttype" value="1">
			<div class="panel-footer">
				<div class="media">
					<a href="#" class="pull-left"> <img alt=""
						src="images/photos/user3.png" class="media-object"
						style="width: 32px; height: 32px;">
					</a>
					<div class="media-body">
						<input id="txtComment" type="text" name="txtComment"
							class="form-control" placeholder="Leave your comment for current material"
							onkeydown="if (event.keyCode == 13) commentMaterial('{{course_id}}','{{mt.id}}');" />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="http://code.jquery.com/jquery-2.0.3.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript"
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
</script>
<script type="text/javascript"
	src="http://malsup.github.com/min/jquery.form.min.js">
</script>
<script>
function commentMaterial(hd_course_id,hd_material_id) {
	document.forms["formCmtMaterial"].hd_course_id.value = hd_course_id
	document.forms["formCmtMaterial"].hd_material_id.value = hd_material_id;
};
function MyFunction(material_id){
	$.ajax({
				url: "/myapp/views/CourseDetail.py",
				type: "post",
				data: {'param':{"hello":"world"}},
				dataType: "application/json",
				success : function(response)
				{
					alert(response);
				}
			});
	var ic=document.getElementById('icon'+material_id);
	var testClass = ic.className;
	if(!document.getElementById('icon'+material_id).classList.contains('glyphicon-heart'))
	{
		document.getElementById('hiddenOnlyClick'+material_id).value=1;
		ic.className="glyphicon glyphicon-heart"
		var numberLike=parseInt(document.getElementById('hiddenNumberLike'+material_id).value);
		numberLike=numberLike+1;
		document.getElementById('hiddenNumberLike'+material_id).value=numberLike;
		if(numberLike<2)
		{
			document.getElementById('numberLike'+material_id).innerHTML=numberLike +' people like this';
		}
		else
		{
			document.getElementById('numberLike'+material_id).innerHTML=numberLike +' peoples like this';
		}
	}
	else
	{
		var numberLike=parseInt(document.getElementById('hiddenNumberLike'+material_id).value);
		if(document.getElementById('hiddenOnlyClick'+material_id).value==1)
		{
			document.getElementById('hiddenOnlyClick'+material_id).value=0;
			ic.className="glyphicon glyphicon-heart-empty";
			numberLike=numberLike-1;
		}
		document.getElementById('hiddenNumberLike'+material_id).value=numberLike;
		if(numberLike<2)
		{
			document.getElementById('numberLike'+material_id).innerHTML=numberLike +' people like this';
		}
		else
		{
			document.getElementById('numberLike'+material_id).innerHTML=numberLike +' peoples like this';
		}
	}
}
</script>