<div class="row" style="margin-top: 15%;" >

<div class="col-md-6">
	<div class="alert alert-info fade in nomargin" >
		<h2>EverEduシステムへようこそ！</h2>
		<p><i class="glyphicon glyphicon-chevron-down"></i> お好きなコースを検索</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> 結果のリストを確認してください</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> 詳細にコースの内容を表示するには、コースのご興味を選択</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> コースを開始するためのボタンをクリックしましょう。</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> より</p>
		<p>
			<button class="btn btn-info" type="button">ここから ..</button>
		</p>
	</div>
</div>

<div class="col-md-6">
	<div class="alert alert alert-warning" >
		<h2>お知らせ！</h2>
		<p><i class="glyphicon glyphicon-chevron-down"></i> あなたのプロフィールを更新するにはここをクリックしてください。</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> あなたの友人とチャットするには、ここをクリックしてください。</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> アカウント設定を変更するには、ここをクリックしてください。</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> メンターになるレジスには、ここをクリックしてください。</p>
		<p><i class="glyphicon glyphicon-chevron-down"></i> マニュアルを見るにはここをクリックしてください。</p>
		<p>
			<button class="btn btn-info" type="button">助け ..</button>
		</p>

	</div>
</div>

</div>