{% extends "myapp/base.html" %} {% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="people-item">
			<div class="media">
				<div class="text-muted">
					<form class="col-sm-6" action="search-mentor" method="post" style="margin-left: 25%;">
						{% csrf_token %}
						{% if search %}
							<input type="text" class="form-control" name="search" value="{{search}}" placeholder="Search first name,last name,username ..." autocomplete="off" style="background: #fff url(../images/icon-search.png) no-repeat 95% center;">
						{% else %}
							<input type="text" class="form-control" name="search" value="" placeholder="Search first name,last name,username ..." autocomplete="off" style="background: #fff url(../images/icon-search.png) no-repeat 95% center;">
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="people-list">
	{% if lisUserProfile %}
		{% for profile in lisUserProfile %}
			<div class="col-sm-6">
				<div class="people-item">
					<div class="media">
						<a href="/profile?user_id={{profile.user_id.id }}" class="pull-left"> <img alt=""
							{% if profile.images %}
								src="/{{profile.images}}" class="thumbnail media-object">
							{% else %}
								src="images/photos/user.png" class="thumbnail media-object">
							{% endif %}
						</a>
						<div class="media-body">
							{% if profile.user_id.last_name and profile.user_id.first_name %}
								<a href="/profile?user_id={{profile.user_id.id }}"><h4 class="person-name peoplename">{{profile.user_id.last_name|add:" "|add:profile.user_id.first_name}}</h4></a>
							{% else %}
								<a href="/profile?user_id={{profile.user_id.id }}"><h4 class="person-name peoplename">{{profile.user_id.username}}</h4></a>
							{% endif %}
							<div class="text-muted">
								<i class="fa fa-map-marker"></i> {{profile.work_field.type_name}}
							</div>
							<div class="text-muted">
								<i class="fa fa-briefcase"></i> <a href="#">{{profile.job_title.name}}</a> at <a
									href="http://www.ex-artisan.com" target="_blank">{{profile.company}}</a>
							</div>
							<div class="text-muted">
								<i class="fa fa-briefcase"></i>Skill : 
								{% for skill in profile.skill %}
										{{skill|add:","}}
								{% endfor %}
							</div>
							<div class="text-muted">
								<i class="fa fa-briefcase"></i>Education : 
								{% for edu in profile.edu %}
										{{edu|add:","}}
								{% endfor %}
							</div>
							<ul class="social-list">
								<li><a href="#" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Email"><i
										class="fa fa-envelope-o"></i></a></li>
								<li><a href="#" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Facebook"><i
										class="fa fa-facebook"></i></a></li>
								<li><a href="#" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Twitter"><i
										class="fa fa-twitter"></i></a></li>
								<li><a href="#" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="LinkedIn"><i
										class="fa fa-linkedin"></i></a></li>
								<li><a href="#" class="tooltips" data-toggle="tooltip"
									data-placement="top" title="" data-original-title="Skype"><i
										class="fa fa-skype"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="col-md-6">
			
		</div>
		<!-- col-md-6 -->
	{% endif %}
	</div>
</div>
{% endblock %}
