{% extends "myapp/base.html" %} 

{% block styles %}
<link href='css/fullcalendar.css' rel='stylesheet' />
<link href='css/fullcalendar.print.css' rel='stylesheet' media='print' />
{% endblock %} 

{% block content %}
<div class="contentpanel">{% include 'myapp/calendar.html' %}</div>
{% endblock %} 

{% block scripts %}

<script src='js/moment.min.js'></script>
<script src='js/jquery-ui.custom.min.js'></script> 
<script src='js/fullcalendar.min.js'></script>

<script src="js/custom.js"></script>

<script type="text/javascript">
	$(window)
			.load(
					function() {

						$("#frmCalendar")
								.submit(
										function(event) {
											// Stop form from submitting normally
											event.preventDefault();
											// Get some values from elements on the page:
											var $form = $(this), token = $form
													.find(
															"input[name='csrfmiddlewaretoken']")
													.val(), term = 'likeMaterial', url = $form
													.attr("action");
											// Send the data using post
											var posting = $.post(url, $(this)
													.serialize());

											// Put the results in a div
											posting.done(function(data) {
												
											});
										});

						$('.flexslider').flexslider({
							animation : "slide",
							controlNav : false,
						});

					});
</script>
<script>
	$(document).ready(
			function()
			{
				/* initialize the external events
				-----------------------------------------------------------------*/

				$('#external-events div.external-event').each(function() {

					// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
					// it doesn't need to have a start or end
					var eventObject = {
						title : $.trim($(this).text())
					//alert(title);
					// use the element's text as the event title
					};

					// store the Event Object in the DOM element so we can get to it later
					$(this).data('eventObject', eventObject);

					// make the event draggable using jQuery UI
					$(this).draggable({
						zIndex : 999,
						revert : true, // will cause the event to go back to its
						revertDuration : 0
					//  original position after the drag
					});

				});

				/* initialize the calendar
				-----------------------------------------------------------------*/
				{% if flag == 0 %}
				$('#calendar').fullCalendar(
						{
							header : {
								left : 'prev,next today',
								center : 'title',
								right : 'month,agendaWeek,agendaDay'
							},
							viewDisplay: function (element) {
								submitdata();
						    }
							eventClick: function(calEvent, jsEvent, view) {
								var flag = confirm("Do you want to delete this event ?");
								if (flag) {
									$('#calendar').fullCalendar('removeEvents',calEvent._id);
									submitdata();
								}
						    },
						    eventDrop: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view )
						    {
						    	submitdata();
						    },
							selectable: true,
							selectHelper: true,
							select: function(start, end) {
								var title = prompt('Event Title:');
								var eventData;
								if (title) {
									eventData = {
										title: title,
										start: start,
										end: end
									};
									$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
									submitdata();
								}
								$('#calendar').fullCalendar('unselect');
							},
							editable : true,
							timezone: 'UTC',
							droppable : true, // this allows things to be dropped onto the calendar !!!
							drop : function(date, allDay) { // this function is called when something is dropped

								// retrieve the dropped element's stored Event Object
								var originalEventObject = $(this).data(
										'eventObject');
								// we need to copy it, so that multiple events don't have a reference to the same object
								var copiedEventObject = $.extend({},
										originalEventObject);

								// assign it the date that was reported
								copiedEventObject.start = date;
								copiedEventObject.allDay = allDay;

								// render the event on the calendar
								// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
								$('#calendar').fullCalendar('renderEvent',
										copiedEventObject, true);

								// is the "remove after drop" checkbox checked?
								if ($('#drop-remove').is(':checked')) {
									// if so, remove the element from the "Draggable Events" list
									$(this).remove();
								}
								submitdata();
						}
				});
				{% else %}
				$('#calendar').fullCalendar(
						{
							header : {
								left : 'prev,next today',
								center : 'title',
								right : 'month,agendaWeek,agendaDay'
							},
							eventClick: function(calEvent, jsEvent, view) {
								var flag = confirm("Do you want to delete this event ?");
								if (flag) {
									$('#calendar').fullCalendar('removeEvents',calEvent._id);
									submitdata();
								}
						    },
						    eventDrop: function( event, dayDelta, minuteDelta, allDay, revertFunc, jsEvent, ui, view )
						    {
						    	submitdata();
						    },
						    events : JSON.parse(text),
							selectable: true,
							selectHelper: true,
							select: function(start, end) {
								var title = prompt('Event Title:');
								var eventData;
								if (title) {
									eventData = {
										title: title,
										start: start,
										end: end
									};
									$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
									submitdata();
								}
								$('#calendar').fullCalendar('unselect');
							},
							editable : true,
							timezone: 'UTC',
							droppable : true, // this allows things to be dropped onto the calendar !!!
							drop : function(date, allDay) { // this function is called when something is dropped

								// retrieve the dropped element's stored Event Object
								var originalEventObject = $(this).data(
										'eventObject');
								// we need to copy it, so that multiple events don't have a reference to the same object
								var copiedEventObject = $.extend({},
										originalEventObject);

								// assign it the date that was reported
								copiedEventObject.start = date;
								copiedEventObject.allDay = allDay;

								// render the event on the calendar
								// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
								$('#calendar').fullCalendar('renderEvent',
										copiedEventObject, true);

								// is the "remove after drop" checkbox checked?
								if ($('#drop-remove').is(':checked')) {
									// if so, remove the element from the "Draggable Events" list
									$(this).remove();
								}
								submitdata();
						}
				});
				{% endif %}
			});
	var data = '{{ datalog }}';
	var json = JSON.parse(data.replace(/&quot;/g,'"'));
	var text = JSON.stringify(json);

	function submitdata() {
		alert('preparing..');
		var eventsFromCalendar = $('#calendar').fullCalendar('clientEvents');
		var eventsForCookie = [];
		
		$.each(eventsFromCalendar, function(index, value) {
			var event = new Object();
			event.id = value.id;
			event.start = value.start;
			event.end = value.end;
			event.title = value.title;
			eventsForCookie.push(event);
		});
		document.getElementById('datacontent').value = JSON
				.stringify(eventsForCookie);
		var data = document.getElementById('datacontent').value;
		alert(data);
		$("#frmCalendar").submit();
		alert('Data saved..!');
	}
</script>

<style>
body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

width: 1100px ;
#wrap {
	margin: 0 auto;
}

#external-events {
	float: left;
	width: 150px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}

.external-event { /* try to mimick the look of a real event */
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
}

#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	float: left;
	width: 70%;
	margin-left: 5%
}
</style>

{% endblock scripts%}
